<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}">
    <title>About Us</title>
</head>
<body>
    <div class="about-container">
	    <h1>About Us</h1><br>
        <p>Welcome to Global Pay Hub, your one-stop platform for convenient bill payments and support for your loved ones in Africa.</p>
	<br>
        <p>At Global Pay Hub, we are dedicated to providing a seamless experience for users in the diaspora to support their families back home. Whether it's purchasing airtime, paying utility bills, or contributing to other essential services, we've got you covered.</p>
	<br>
	<p>Our platform enables users to make secure and reliable transactions, ensuring that your support reaches your family members in a timely manner. We have partnered with local service providers to offer a wide range of services, making it easy for you to contribute to your community.</p>
	<br>
	<p>Join us in making a positive impact by using Global Pay Hub for your financial transactions. Thank you for choosing us as your trusted partner.</p>
    </div>
    {% include 'footer.html' %}
</body>
</html>

