<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}">
</head>

<body>

    <!-- User Actions Section -->
    <div class="user-actions">
	   <!-- <img src="{{ url_for('static', filename='images/globalpayhub.png') }}" alt="Global Pay Hub Logo" class="logo-image"> -->
         <button class="action-button"><a href="/register">Sign Up</a></button>
         <button class="action-button"><a href="/login">Login</a></button>
    </div>

    <!-- Header Section -->
    <header>
        <div class="logo">
            <!-- Replace 'your-logo.png' with the path to your logo image -->
            <img src="{{ url_for('static', filename='images/globalpayhub.png') }}" alt="Global Pay Hub Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>
