<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>Global Pay Hub</title>
    {% include 'header.html' %}
</head>
<body>

    <!-- Hero Section -->
    <section class="hero">
        <h1>Global Pay Hub</h1>
        <p>Connect with Home, Anytime, Anywhere.</p>
        <a href="#" class="cta-button">Get Started</a>
    </section>

    <!-- Service Offerings Section -->
    <section class="services">
        <div class="service">
            <h2>Airtime</h2>
            <p>Buy airtime for your loved ones.</p>
	    <a href="/vend_airtime" class="purchase-button">Buy Now</a>
        </div>
        <div class="service">
            <h2>Electricity</h2>
            <p>Provide electricity for your family.</p>
	    <a href="/vend_electricity" class="purchase-button">Buy Now</a>
        </div>
        <div class="service">
            <h2>Bill Payments</h2>
            <p>Pay bills such as taxes, TV subscriptions, and more.</p>
	    <a href="/pay_tv_subscription" class="purchase-button">Pay Now</a>
        </div>
    </section>

    <!-- How It Works Section -->
    <section class="how-it-works">
        <h2>How It Works</h2>
        <ol>
            <li>Sign up for an account.</li>
            <li>Select the service you want to use.</li>
            <li>Follow the easy steps to complete your transaction.</li>
        </ol>
    </section>

    {% include 'footer.html' %}

</body>
</html>

