<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Remmittance</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/terms.css') }}">
    {% include 'header.html' %}
</head>
<body>

<section>
    <h2>1. Introduction</h2>
    <p>www.globalpayhub.tech (the "Site") is owned and operated by Remmittance LLC. Remmittance LLC is the data controller and can be contacted at:</p>
    <p>Email: <a href="mailto:info@globalpayhub.tech">info@globalpayhub.tech</a></p>
    <p>Phone: (386) 463-0324</p>
    <p>Address: 32 N GOULD ST, SHERIDAN, WY 82801</p>
</section>

<section>
    <h2>2. Purpose</h2>
    <p>The purpose of this privacy policy (this "Privacy Policy") is to inform users of our Site of the following:</p>
    <ol>
        <li>The personal data we will collect;</li>
        <li>Use of collected data;</li>
        <li>Who has access to the data collected;</li>
        <li>The rights of Site users; and</li>
        <li>The Site's cookie policy.</li>
    </ol>
    <p>This Privacy Policy applies in addition to the terms and conditions of our Site.</p>
</section>

<section>
    <h2>3. GDPR</h2>
    <p>For users in the European Union, we adhere to the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016, known as the General Data Protection Regulation (the "GDPR"). For users in the United Kingdom, we adhere to the GDPR as enshrined in the Data Protection Act 2018.</p>
    <p>We have not appointed a Data Protection Officer as we do not fall within the categories of controllers and processors required to appoint a Data Protection Officer under Article 37 of the GDPR.</p>
</section>

<section>
    <h2>4. Consent</h2>
    <p>By using our Site users agree that they consent to:</p>
    <ul>
        <li>The conditions set out in this Privacy Policy.</li>
    </ul>
</section>

<section>
    <h2>5. Legal Basis for Processing</h2>
    <p>We collect and process personal data about users in the EU only when we have a legal basis for doing so under Article 6 of the GDPR.</p>
    <p>We rely on the following legal basis to collect and process the personal data of users in the EU:</p>
    <ul>
        <li>Processing of user personal data is necessary for us or a third party to pursue a legitimate interest. Our legitimate interest is not overridden by the interests or fundamental rights and freedoms of users. Our legitimate interest(s) are: To process user’s credit card information in order to go through with the transaction.</li>
    </ul>
</section>

<section>
    <h2>6. Personal Data We Collect</h2>
    <p>We only collect data that helps us achieve the purpose set out in this Privacy Policy. We will not collect any additional data beyond the data listed below without notifying you first.</p>
    <h3>6.1 Data Collected Automatically</h3>
    <p>When you visit and use our Site, we may automatically collect and store the following information:</p>
    <ul>
        <li>IP address;</li>
        <li>Location;</li>
        <li>Hardware and software details;</li>
        <li>Clicked links; and</li>
        <li>Content viewed.</li>
    </ul>
    <h3>6.2 Data Collected in a Non-Automatic Way</h3>
    <p>We may also collect the following data when you perform certain functions on our Site:</p>
    <ul>
        <li>First and last name;</li>
        <li>Age;</li>
        <li>Date of birth;</li>
        <li>Email address;</li>
        <li>Phone number;</li>
        <li>Address;</li>
        <li>Payment information; and</li>
        <li>Auto-fill data.</li>
    </ul>
    <p>This data may be collected using the following methods:</p>
    <ul>
        <li>Creating an account;</li>
        <li>Checking out; and</li>
        <li>Contacting us.</li>
    </ul>
</section>

<section>
    <h2>7. How We Use Personal Data</h2>
    <p>Data collected on our Site will only be used for the purposes specified in this Privacy Policy or indicated on the relevant pages of our Site. We will not use your data beyond what we disclose in this Privacy Policy.</p>
    <p>The data we collect automatically is used for the following purposes:</p>
    <ul>
        <li>Statistics.</li>
    </ul>
    <p>The data we collect when the user performs certain functions may be used for the following purposes:</p>
    <ul>
        <li>Payment processing; and</li>
        <li>Communication with our customers.</li>
    </ul>
</section>

<section>
    <h2>8. Who We Share Personal Data With</h2>
    <h3>8.1 Employees</h3>
    <p>We may disclose user data to any member of our organization who reasonably needs access to user data to achieve the purposes set out in this Privacy Policy.</p>
    <h3>8.2 Third Parties</h3>
    <p>We may share user data with the following third parties:</p>
    <ul>
        <li>Merchant account providers; and</li>
        <li>Apps such as Google, Facebook.</li>
    </ul>
    <p>We may share the following user data with third parties:</p>
    <ul>
        <li>Payment details such as card number, address, phone number, and any information that can be used during checkout; and</li>
        <li>Account creation.</li>
    </ul>
    <p>We may share user data with third parties for the following purposes:</p>
    <ul>
        <li>Payment processing; and</li>
        <li>Sign up, sign in.</li>
    </ul>
    <p>Third parties will not be able to access user data beyond what is reasonably necessary to achieve the given purpose.</p>
</section>

<section>
    <h2>9. Other Disclosures</h2>
    <p>We will not sell or share your data with other third parties, except in the following cases:</p>
    <ul>
        <li>If the law requires it;</li>
        <li>If it is required for any legal proceeding;</li>
        <li>To prove or protect our legal rights; and</li>
        <li>To buyers or potential buyers of this company in the event that we seek to sell the company.</li>
    </ul>
    <p>If you follow hyperlinks from our Site to another Site, please note that we are not responsible for and have no control over their privacy policies and practices.</p>
</section>

<section>
    <h2>10. How Long We Store Personal Data</h2>
    <p>User data will be stored until the purpose the data was collected for has been achieved.</p>
    <p>You will be notified if your data is kept for longer than this period.</p>
</section>

<section>
    <h2>11. How We Protect Your Personal Data</h2>
    <p>The information sent across our servers is encrypted. We use an SSL certificate to make sure user information doesn’t fall into the wrong hands.</p>
    <p>While we take all reasonable precautions to ensure that user data is secure and that users are protected, there always remains the risk of harm. The Internet as a whole can be insecure at times and therefore we are unable to guarantee the security of user data beyond what is reasonably practical.</p>
</section>

<section>
    <h2>12. International Data Transfers</h2>
    <p>We transfer user personal data to the following countries:</p>
    <ul>
        <li>USA, RWANDA.</li>
    </ul>
    <p>When we transfer user personal data we will protect that data as described in this Privacy Policy and comply with applicable legal requirements for transferring personal data internationally.</p>
    <p>If you are located in the United Kingdom or the European Union, we will only transfer your personal data if:</p>
    <ul>
        <li>The country your personal data is being transferred to has been deemed to have adequate data protection by the European Commission or, if you are in the United Kingdom, by the United Kingdom adequacy regulations; or</li>
        <li>We have implemented appropriate safeguards in respect of the transfer. For example, the recipient is a party to binding corporate rules, or we have entered into standard EU or United Kingdom data protection contractual clauses with the recipient.</li>
    </ul>
</section>

<section>
    <h2>13. Your Rights as a User</h2>
    <p>Under the GDPR, you have the following rights:</p>
    <ul>
        <li>Right to be informed;</li>
        <li>Right of access;</li>
        <li>Right to rectification;</li>
        <li>Right to erasure;</li>
        <li>Right to restrict processing;</li>
        <li>Right to data portability; and</li>
        <li>Right to object.</li>
    </ul>
</section>

<section>
    <h2>14. Children</h2>
    <p>The minimum age to use our website is 18 years of age. We do not knowingly collect or use personal data from children under 16 years of age. If we learn that we have collected personal data from a child under 16 years of age, the personal data will be deleted as soon as possible. If a child under 16 years of age has provided us with personal data, their parent or guardian may contact our privacy officer.</p>
</section>

<section>
    <h2>15. How to Access, Modify, Delete, or Challenge the Data Collected</h2>
    <p>If you would like to know if we have collected your personal data, how we have used your personal data, if we have disclosed your personal data and to who we disclosed your personal data, if you would like your data to be deleted or modified in any way, or if you would like to exercise any of your other rights under the GDPR, please contact our privacy officer here:</p>
    <address>
        <strong>REMMITTANCE LLC</strong><br>
        Email: <a href="mailto:info@globalpayhub.tech">info@globalpayhub.tech</a><br>
        Phone: (386) 463-0324<br>
        Address: 32 N GOULD ST, SHERIDAN, WY 82801
    </address>
</section>

<section>
    <h2>16. Do Not Track Notice</h2>
    <p>Do Not Track ("DNT") is a privacy preference that you can set in certain web browsers. We respond to browser-initiated DNT signals. If we receive a DNT signal that indicates a user does not wish to be tracked, we will not track that user. We are not responsible for and cannot guarantee how any third parties who interact with our Site and your data will respond to DNT signals.</p>
</section>

<section>
    <h2>17. Cookie Policy</h2>
    <p>A cookie is a small file, stored on a user's hard drive by a website. Its purpose is to collect data relating to the user's browsing habits. You can choose to be notified each time a cookie is transmitted. You can also choose to disable cookies entirely in your internet browser, but this may decrease the quality of your user experience.</p>
    <p>We use the following types of cookies on our Site:</p>
    <ul>
        <li>Functional cookies - Used to remember the selections you make on our Site so that your selections are saved for your next visits;</li>
        <li>Analytical cookies - Allow us to improve the design and functionality of our Site by collecting data on how you access our Site, for example data on the content you access, how long you stay on our Site, etc;</li>
        <li>Targeting cookies - Collect data on how you use the Site and your preferences. This allows us to personalize the information you see on our Site for you; and</li>
        <li>Third-Party Cookies - Created by a website other than ours. We may use third-party cookies to achieve the following purposes: Monitor users' preference.</li>
    </ul>
</section>

<section>
    <h2>18. Modifications</h2>
    <p>This Privacy Policy may be amended from time to time in order to maintain compliance with the law and to reflect any changes to our data collection process. When we amend this Privacy Policy we will update the "Effective Date" at the top of this Privacy Policy. We recommend that our users periodically review our Privacy Policy to ensure that they are notified of any updates. If necessary, we may notify users by email of changes to this Privacy Policy.</p>
</section>

<section>
    <h2>19. Complaints</h2>
    <p>If you have any complaints about how we process your personal data, please contact us through the contact methods listed in the Contact Information section so that we can, where possible, resolve the issue.
    </p>
</section>
{% include 'footer.html' %}
</body>
</html>
