<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Pay Hub - Terms and Conditions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/terms.css') }}">

    {% include 'header.html' %}
</head>

<body>

    <h1>TERMS AND CONDITIONS</h1>

    <p>These terms and conditions (the "Terms and Conditions") govern the use of www.globalpayhub.tech (the "Site").
        This Site is owned and operated by REMMITTANCE LLC. This Site is an ecommerce website.</p>

    <p>By using this Site, you indicate that you have read and understand these Terms and Conditions and agree to abide
        by them at all times.</p>

    <p><strong>THESE TERMS AND CONDITIONS CONTAIN A DISPUTE RESOLUTION CLAUSE THAT IMPACTS YOUR RIGHTS ABOUT HOW TO RESOLVE
            DISPUTES. PLEASE READ IT CAREFULLY.</strong></p>

    <h2>Intellectual Property</h2>
    <p>All content published and made available on our Site is the property of REMMITTANCE LLC and the Site's creators.
        This includes, but is not limited to images, text, logos, documents, downloadable files, and anything that
        contributes to the composition of our Site.</p>

    <h2>Age Restrictions</h2>
    <p>The minimum age to use our Site is 18 years old. By using this Site, users agree that they are over 18 years old.
        We do not assume any legal responsibility for false statements about age.</p>

    <h2>Acceptable Use</h2>
    <p>As a user of our Site, you agree to use our Site legally, not to use our Site for illegal purposes, and not to:</p>
    <ul>
        <li>Violate the intellectual property rights of the Site owners or any third party to the Site;</li>
        <li>Hack into the account of another user of the Site;</li>
        <li>Act in any way that could be considered fraudulent; or</li>
        <li>Use our services for terrorist activities.</li>
    </ul>

    <p>If we believe you are using our Site illegally or in a manner that violates these Terms and Conditions, we reserve
        the right to limit, suspend, or terminate your access to our Site. We also reserve the right to take any legal
        steps necessary to prevent you from accessing our Site.</p>

    <!-- Add more sections as needed -->

    <h2>Contact Details</h2>
    <p>Please contact us if you have any questions or concerns. Our contact details are as follows:</p>
    <ul>
        <li>Phone: (386) 463-0324</li>
        <li>Email: info@globalpayhub.tech</li>
        <li>Address: 32 N GOULD ST, SHERIDAN, WY 82801</li>
    </ul>

    <p>You can also contact us through the feedback form available on our Site.</p>

    <p><strong>Effective Date: 3rd day of February, 2023</strong></p>
    {% include 'footer.html' %}
</body>

</html>

