<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vend_airtime.css') }}">
    <title>Buy Electricity</title>
</head>
<br><br>
<body>
    <h1>Buy Electricity</h1>
    <form method="post" action="/vend_electricity">
        <label for="customer_account_number">Meter Number</label>
        <input type="text" id="customer_account_number" name="customer_account_number" required>
        <br>

        <div class="form-group">
            <label>Select Electric Amount:</label>
            <div class="amount-container">
                {% for i in range(electric_amounts|length) %}
                    <div class="amount-box" data-local-currency="{{ local_currency[i] }}">
                        <input type="radio" id="amount{{ i }}" name="usd_amount" value="{{ electric_amounts[i] }}">
                        <label for="amount{{ i }}">${{ electric_amounts[i] }}</label>
                        <span class="local-currency">{{ local_currency[i] }} RWF</span>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Hidden input for local_currency -->
        <input type="hidden" id="local_currency" name="local_currency" value="">
        
        <button type="submit">Buy</button>
    </form><br><br>

    <script>
        // Script to update hidden input when an option is selected
        var radios = document.querySelectorAll('input[name="usd_amount"]');
        radios.forEach(function(radio) {
            radio.addEventListener('change', function() {
                var selectedBox = this.parentElement;
                var localCurrency = selectedBox.getAttribute('data-local-currency');
                document.getElementById('local_currency').value = localCurrency;
            });
        });
    </script>

    {% include 'footer.html' %}
</body>
</html>
