/* Reset some default styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}
/* Center the entire h1 element */
h1 {
    text-align: center;
    margin: 0 auto; /* Adds automatic left and right margin, effectively centering the element */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Form Styles */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

/* Form Group Styles */
.form-group {
    margin-bottom: 20px;
}

/* Label Styles */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Input and Select Styles */
input,
select {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Button Styles */
body button {
    background-color: #007BFF;
    color: #fff;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    padding: 15px;
        background-color: #333;
	

}

button:hover {
     opacity: 0.6;
}

/* Amount Container Styles */
.amount-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Amount Box Styles */
.amount-box {
    /*  background-color: #333; */
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: calc(30% - 7px); /* Adjust the width for three boxes per row */
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
}

/* Style for the selected amount box */
.amount-box input:checked + label {
    background-color: #555;
    color: #fff;
}
.amount-box input:checked {
	background-color: black;
}

/* Color variations for amount boxes */
.amount-box.amount-5 { background-color: #3498db; }
.amount-box.amount-6 { background-color: #e74c3c; }
.amount-box.amount-8 { background-color: #2ecc71; }
.amount-box.amount-10 { background-color: #f39c12; }
.amount-box.amount-12 { background-color: #9b59b6; }
.amount-box.amount-15 { background-color: #34495e; }
.amount-box.amount-17 { background-color: #16a085; }
.amount-box.amount-20 { background-color: #d35400; }
.amount-box.amount-30 { background-color: #c0392b; }

/* Local Currency Styles */
.local-currency {
    display: block;
    margin-top: 5px;
    padding-top: 5px;
}

/* Hover effect on amount boxes */
.amount-box:hover {
    background-color: #333;
   color: white; 
border: 2px;
}
input[type='submit'
padding: 15px;
        background-color: #333;
}
input[type="submit"]:hover {
        opacity: 0.6;
}

